<%- include("./partials/header") %>


 <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Edit Todo</a>
    </div>
  </nav>

<div class="container" mt-5>
    <form action="/update/todo/<%= data._id %>" method ="POST" class="d-flex">
        <input type="text" name="todo" class="form-control" value="<%= data.todo %>">
        <input type="submit" value="Edit" class="btn btn-md btn-success mx-2">
    </form>

    
</div>

<%- include("./partials/footer") %>
    